### find the maximum of num using function

In [1]:
def f(a,b,c):
    print(max(a,b,c))
    
f(2,3,6)

6

### write a program to add all num in list using function

In [2]:
def add_list(list) :
    count = 0
    for i in list:
         count = count + i
    return count
     

list1 = [11, 12, 4, 3]
print(list1)
print("sum of list: ") 
print(add_list(list1))

[11, 12, 4, 3]
sum of list:
30

### write a program to multiply all num in list using function

In [3]:
def mul_list(list) :
     
    # Multiply elements one by one
    product = 1
    for i in list:
         product = product * i
    return product
     

list1 = [11, 12, 4, 3]
print(list1)
print("product: ") 
print(mul_list(list1))

[11, 12, 4, 3]
product:
1584

### write a program to to reverse a string in list using function

In [4]:
def my_function(x):
    return x[::-1]

mytxt = my_function("hello world!,lets start")

print(mytxt)

trats stel,!dlrow olleh

### write a program to find factorial  using function

In [5]:
def factorial(x):
    if x == 1:
        return 1
    else:
        return (x * factorial(x-1))


num = 6
result = factorial(num)
print("The factorial of", num, "is", result)

The factorial of 6 is 720

### write a program to count upper case and lower case in string  using function

In [6]:
def string_test(s):
    UPPER_CASE=0
    LOWER_CASE=0
    for c in s:
        if c.isupper():
            UPPER_CASE+=1
        elif c.islower():
            LOWER_CASE+=1
        else:
            pass
    print ("Original String : ", s)
    print ("No. of Upper case characters : ", UPPER_CASE)
    print ("No. of Lower case Characters : ", LOWER_CASE)

string_test('The quick Brown Fox')

Original String :  The quick Brown Fox
No. of Upper case characters :  3
No. of Lower case Characters :  13

### write a function to take that list and return new list with unique list

In [7]:
def unique_list(l):
    x = []
    for a in l:
        if a not in x:
            x.append(a)
    return x

unique_list([1,2,3,3,3,3,4,5])

[1, 2, 3, 4, 5]