### square the numbers in list

In [4]:
numbers = [1, 2, 3, 4, 5]
squared = [number ** 2 for number in numbers]
print(squared)

[1, 4, 9, 16, 25]

### multiply list by 10

In [5]:
numbers = [1, 2, 3, 4, 5]
print(numbers*10)

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

### exract the number from list

In [7]:
a= "Hi my age is 22 years"
print(a)

numbers = [int(a)for a in a.split() if a.isdigit()]

print(numbers)

Hi my age is 22 years
[22]

### remove duplicate elements in list

In [9]:
l = [1, 2,3, 4, 2, 1, 4, 5,3]
res = [*set(l)]
print("removed duplicate elements: ", res)

removed duplicate elements:  [1, 2, 3, 4, 5]

### sum of list

In [10]:
l = [1, 2,3, 4, 2, 1, 4, 5,3]
print(sum(l))

25