### sum of all items in a list

In [1]:
lst = ['karthik','6','text','8','cherry']
add = lst[0]+lst[1]+lst[2]+lst[3]+lst[4]
print('sum of list =', add)

sum of list = karthik6text8cherry

### Multiply all items in list

In [2]:
n = [1,'karthik',3]
mul = n[0]*n[1]*n[2]
print('multiplication of list =', mul)

multiplication of list = karthikkarthikkarthik

### Largest number in list

In [4]:
n = [55,17,73,42]
print(n)
print('Largest number in list =', max(n))

[55, 17, 73, 42]
Largest number in list = 73

### Smallest number in list

In [6]:
n = [34,97,73,42]
print(n)
print('Smallest number in list =', min(n))

[34, 97, 73, 42]
Smallest number in list = 34

### Count of strings in a list

In [8]:
a= ['aba','cdc','efe','ghg','aba']
count = 0
i = 0
for i in range(len(a)):
    count += 1
print('number of strings in list =', count)

number of strings in list = 5